<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value=" %d{dd-MM-yyyy HH:mm:ss:SSS} %-4r %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<appender name="FILEWEB" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/log/ipfm_log2/ipfm_web.log" />
		<!-- <param name="File" value="C:/work/workspaceIPFM/ipfm_web.log" /> -->
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value=" %d{dd-MM-yyyy HH:mm:ss:SSS} %-4r %-5p %c %x - %m%n" />
		</layout>
	</appender>
	
	<!-- ALL<DEBUG<INFO<WARN<ERROR<FATAL<OFF -->
	<category name="org.hibernate.SQL">
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILEWEB" />
	</category>
	<category name="th.co.ais.ipfm">
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILEWEB" />
	</category>
	<category name="org.ajax4jsf">
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILEWEB" />
	</category>
	<category name="org.exolab.castor">
		<priority value="ERROR" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILEWEB" />
	</category>

</log4j:configuration>
